#Module-1-06-05-2025

In [ ]:
#what is python?
"""1.python is a most emrging,general purpose programming language.
2.python is a high-level programming language
3.python is object oriented programming language-->oop’s
4.python is a dynamically typed programming language
5.pyhton is an interpreted programming language."""

In [ ]:
"""Q)what is general purpose programming language?
Q)what is the main purpose of python?
A)manage the tons of data and AI development
due to its more libraries-->we are using it for web and mobileapp development
"""

In [ ]:
#How many levels of programming language do we have?
"""There are 2 levels
1.lOW-LEVEL:- IS ALSO KNOWN AS machine friendly programming language
⟶  each line of code is changing in to binary forms-->1's and 0's
⟶ more lines of codes
   ex:- c, c++,.net"""
#2.High-level programming language:- is also known as
""" ⟶ human friendly programming language
    ⟶ codes are not changing into binary forms
   ⟶ low lines of codes
   ⟶ ex:- java, python"""

#07-05-2025

In [ ]:
#print a hello world in python
print("Hello world!")

Hello world!

In [ ]:
#How many numerical dtypes do we have?
#Thre are 3 types
#1.integer---> Int-->A whole either +ve or -ve without decimal points is known as integer
print(5)
print(10)
print(type(5))
print(type(10))

In [ ]:
#float:- -->float
#A whole number either +ve or -ve with decimal point is known as float
print(5.5)
print(-2.5)
#find the data type for above number
print(type(5.5))
print(type(-2.5))

5.5
-2.5
<class 'float'>
<class 'float'>

In [ ]:
#3.complex number:-a real number withits imaginary part is known as complex number-->complex
#The imaginary part must have letter 'j' is know as iota
print(2+5j)
print(type(2+5j))

(2+5j)
<class 'complex'>

**Arthametic operators**

In [ ]:
#There are 7 arthametic operators
#1.addition---> +
print(10+5)
print(type(10+5))
#2.sunstaraction--> -
print(10-5)
print(type(10-5))
#3.multiplication--->*
print(10*5)
print(type(10*5))
#4.division----> /
print(10/5)
print(type(10/5))
#Note:-the default data type for division is float bcz to get the proper co-efficient

15
<class 'int'>
5
<class 'int'>
50
<class 'int'>
2.0
<class 'float'>

In [ ]:
#5.modulus-->%--->The remainder of the division
print(10%2)
print(15%2)
print(6253465237%2)

In [ ]:
#6.exponential----> **-->to the power off
print(2**3)

8

In [ ]:
#7.floor division or integer division---> //
#it ignores the values after decimal point
print(10/3)
print(10//3)
print(type(10//3))

3.3333333333333335
3
<class 'int'>

**floor value and ceil value**

In [ ]:
#The values before decimal point is known as floor values
#what is ceil value?
#The next upcoming number for a decimal number is known as ceil value

In [ ]:
#round():- this function is applicable only for decimal numbers
#if the decimal values are greater then 0.5 it print ceil value
#if the decimal values less then 0.5 then it print floor value

In [ ]:
print(round(6))
print(round(9))

6
9

In [ ]:
print(round(2.56))
print(round(9.456))

3
9

In [ ]:
#round(number,ndigit)
print(round(135356.6553716547163,2))

135356.66

In [ ]:
print(round(54.623652,3))

54.624

In [ ]:
print(round(12345.98348,-5))
#when we use -ve ndgits the entrie values after decimal point will become zero

0.0

In [ ]:
#variables
#types of errors
#industrial rules to create variables
#smart ways of writing variables
#input()

In [ ]:
"""python-->B,I,A,E
   nUMPY
   PANDAS
   STATS
   SQL--MYSQL or Nosql--mongodb
   Dv-seaborn matplot--> power Bi or tableau
   Dpps
   AI/ML
   NLP
   --->LLM, gen-ai-->AIFLOW-->AGENTIC AI

In [ ]:
s = "abcdefgh"
print(s[-5:-1])

defg

In [ ]:
s = "racecar"
print(s[3:100:-1])

In [ ]:
s = "supercalifragilisticexpialidocious"
print(s[5:20][::-3])

califragilistic

In [ ]:
#ROUND()if the decimal point is greater then 0.5
print(round(2.675, 2))

2.67

In [ ]:
print(round(2.945,3))   #1,4,8

2.945

In [ ]:
print(round(2.4999, 0))

2.0

In [ ]:
a = "hello"
print(a.zfill(10))

00000hello

In [ ]:
a = "hello good evening today we"
#every word replace with "Hi"

hello good evening today we

**strings**

In [ ]:
a = "Hello world!"
#print "H" from above string
print(a[0])
print(a[6])

H
w

In [ ]:
#when we access a range of characters from main string is known as substring
#[start:end]
print(a[6:12])  #always end is n+1

world!

In [ ]:
#print the even index position characters from above string?
#[start:end:steps]
print(a[0:12:2])
#print the odd index position characters
print(a[1:12:2])

In [ ]:
a = "Hello world!"
#print the last character of my string
print(a[11])

**-ve Indexing**

In [ ]:
#accessing the characters in string reverse direction isknown by using -ve indexing
#[start]
print(a[-1])

!

In [ ]:
a = "Hello world!"
#!dlrow
print(a[-1:-7:-1])
#Note:default slicing direction is from left to right

!dlrow

In [ ]:
print(a[-6:-1])

world

**default indexing**

In [ ]:
a = "Hello world!"
print(a[:])
#by default start index can be 0 and end index -->len(string)

Hello world!

In [ ]:
print(len(a))

12

In [ ]:
print(a[::])
#by default start index can be 0 and end index -->len(string) and step is 1

Hello world!

In [ ]:
a = "Hello guys good evening today we are going with string index"
print(a[::2])
print(a[1::2])

Hlogy odeeigtdyw r on ihsrn ne
el usgo vnn oa eaegigwt tigidx

In [ ]:
#check a string is palindrome or not?
a = input('enter your string: ')
print(a[::-1])

enter your string: malayalam
malayalam

**string methods**

In [ ]:
#what is string methods?
#methods that are applied on string isknown as string methods
#what are all methods i can apply on string?
#by using dir()

In [ ]:
a = "hello world!"
print(dir(a))
""" 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith',
'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha',
'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric',
'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower',
'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace',
'rfind', 'rindex', 'rjust', 'rpartition',
'rsplit', 'rstrip', 'split', 'splitlines', 'startswith',
'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill' """

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
#10 imp methods
#1.capitalize():- it converts the 1st letter into uppercase
a = "hello world!"
print(a.capitalize())

Hello world!

In [ ]:
#lower and upper()
print(a.lower())
print(a.upper())

hello world!
HELLO WORLD!

In [ ]:
#replace() replace old string with new string
a = "hello world!"
print(a.replace('world!','Universe!'))

hello Universe!

In [ ]:
#i want 1st letter in capital after every space
#title()
print(a.title())

Hello World!

In [ ]:
a = "      Hello world1    "
#strip()
print(a.strip())
print(a)

Hello world1
      Hello world1

In [ ]:
#lstrip()
print(a.lstrip())
print(a.rstrip())

Hello world1
      Hello world1

In [ ]:
#zfill(). zero fill--> fills the zeros infront of string to match length of string.
a = "hello"
print(a.zfill(10))

00000hello

**Escape characters**

In [ ]:
#To print illegal characters inside a string  we use escape characters
#it can be represented with backward slash(\)
a = "Dwayne \"The Rock\" Jhonson"
print(a)

Dwayne "The Rock" Jhonson

string formatting methods

In [ ]:
age = 10
txt = "my age is {} years old"
#There are 3 string methods
print(txt.format(age))

my age is 10 years old

In [ ]:
age = 10
txt = "my age is {} years old".format(age)
print(txt)

my age is 10 years old

In [ ]:
#f'string{format} method
age = 10
txt = f"my age is {age} years old"
print(txt)

my age is 10 years old

In [ ]:
product = input('enter product name')
quantity = int(input('enter quantity of product '))
price_each = int(input('enter price '))
notification=f'''your order for {product}
has confirmed with an quantity of {quantity} and Total is {price_each*quantity}'''
print(notification)

In [ ]:
#1.what is a string?
#2.Types of strings
#3.indexing and slicing
#4.string methods
#5.string format methods
#6.esacpe characters

In [ ]:
#string is ordered
a = "     Hello world!    "
print(a.lstrip())
print(a.rstrip())

Hello world!
     Hello world!

#12-05-2025

In [ ]:
#write a program to count down the pushups
target = int(input())
intial = 0
while intial <= target:
  print('go up')
  print('go down')
  print('========rep completed==========',intial)
  intial = intial + 1

5
go up
go down
========rep completed========== 0
go up
go down
========rep completed========== 1
go up
go down
========rep completed========== 2
go up
go down
========rep completed========== 3
go up
go down
========rep completed========== 4
go up
go down
========rep completed========== 5

In [ ]:
print(1<=5)
print(2<=5)
print(3<=5)
print(4<=5)
print(5<=5)
print(6<=5)

True
True
True
True
True
False

In [ ]:
#write a simple program to run a lift?
user = int(input('enter your floor number '))
intial = 0
while intial <= user:
  print("you are at floor", intial)
  intial = intial + 1

In [ ]:
#what are all control structures of while loop?
#break
#continue
#pass:- null operator when executes nothing will happens

In [ ]:
user = int(input('enter your floor number '))
intial = 0
while intial <= user:
  print("you are at floor", intial)
  if intial == 3:
    break
  intial = intial+ 1

enter your floor number 6
you are at floor 0
you are at floor 1
you are at floor 2
you are at floor 3

In [ ]:
user = int(input('enter your floor number '))
intial = 0
while intial <= user:
  print("you are at floor", intial)
  if intial == 3:
    continue
  intial = intial+ 1

#13-05-2025

**FOR LOOP**

In [ ]:
#what is for loop?
#i want to run a set of instructions in my iterables(collections)-->[list,tuple,set,dict,array]
#where this rules can be applicable for each and every element

In [ ]:
l = [1,2,3,4,5,6,7,8,9]
#print the even number data from above list.
for i in l:
  if i%2==0:
    print(i,end =" ")

2 4 6 8

In [ ]:
#How the iterator has built?
#with 2 protocols
#__iter__  and __next__

In [ ]:
a = [1,2,3,4,5,6]
#print the multiples of 2 from above list
#2,4,6,8,10,12
#print(a*2)
for i in a:
  print(i*2,end=" ")

2 4 6 8 10 12

In [ ]:
b = ['apple','banana','orange','kiwi','mango']
#print the fruits which is having letter 'a'.
for i in b:
  if 'g' in i:
    print(i)

orange
mango

**control structures of for loop**

In [ ]:
#break, continue, pass

In [ ]:
#break:- it stops the iterations irrespective of items in the collection

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
#break the loop when it reach '4'
for j in a:
  if j ==4 or j ==7:
    break
  print(j, end =" ")

1 2 3

In [ ]:
#continue:- it skips the current iteration and moves to next iteration
#i dont want to print 2,6,8 from the above list
for j in a:
  if j ==2 or j==4 or j ==6:
    continue
  print(j,end=" ")

1 3 5 7 8 9

In [ ]:
for j in a:
  if j ==2 or j==4 or j ==6:
    pass

In [ ]:
i = 0
while i <= 10:
 print(i)
 i = i + 1

**range(start,end,step)**

In [ ]:
for i in range(10):
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
#print a range of numbers from 20 to 40:
#syntax:-(start,end)
for i in range(20,41):
  print(i,end=" ")

20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40

In [ ]:
#print a range of even numbers upto 100?
#(start,end,step)
for i in range(1,101,2):
  print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
#calculate the sum of numbers from 1 to 10 using for loop?
sum = 0
for i in range(1,11):
  sum = sum+i
print(sum)

55

In [ ]:
a =[1,2,3,4,5,6,7,8,9]
#calculate the product of elements in above list?
product = 1
for i in a:
  product = product*i
  print(product)

In [ ]:
#print the numbers in reverse from 10 to 1
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
a = [1,2,45,63,54,76,98,23,54,60]
#find the largets number from above list.
large = a[0]
for i in a:
  if i>large:
    large = i
print(large)

98

In [ ]:
print(max(a))

98

In [ ]:
#print all the uppercase letter from the string
#"Hello World!"

In [ ]:
#Calulate the factorials of the number ?-->5-->   5*4*3*2*1
#find the all prime numbers from 1 to 50 -
#print the numbers divisible with 3 or 5  in the range 1 to 20:
#print a fibonacci series  up to 10th interval ?
#1, 1, 2, 3,5,8,13,

#14-05-2025

**Collections or Iterables**

In [ ]:
#what is collection?
#collection is having 2 types of data Homogenous data and Heterogenous data
#what is homogenous data?
#collection is having same data type
#ex:- lis is having integers
#Hetergenous data:- collection is multiple data inside it
#How many types of collections do we have?
#There 4 types
#1.List
#2.Tuple
#3.set
#4.dictionary

**List**

In [ ]:
#what is list? or define a list or how can we declare a list?
#list --> []
#list defined as ordered, mutable, and it allows the duplicate data

**list allows the duplicate data**

In [ ]:
l1 = ['apple','banana','pineapple','kiwi','orange','apple','banana','apple']
#what is length of list l1?
print(len(l1))
print(type(l1))
print(l1)

8
<class 'list'>
['apple', 'banana', 'pineapple', 'kiwi', 'orange', 'apple', 'banana', 'apple']

**List is ordered**

In [ ]:
#what is ordered means?
#each character in the list is having sequence of index position numbers
#from list l1 print kiwi
#syntax[index]
print(l1[3])

kiwi

In [ ]:
#print a range of characters 'pineapple', 'kiwi', 'orange' from l1
#[start:end index]
print(l1[2:5])   #slicing will stops always before one index position number

['pineapple', 'kiwi', 'orange']

In [ ]:
#print the even elements from the list l1?
print(l1[0:9:2])
#print the odd index position character?
print(l1[1:9:2])

['apple', 'pineapple', 'orange', 'banana']
['banana', 'kiwi', 'apple', 'apple']

**default indexing**

In [ ]:
#what is default indexing?
#by deafuly start is 0, end is length of collection and step is 1
l2 = ['apple','banana','pineapple','kiwi','orange','apple','banana','apple']
#print 5 from above list
# print(l2[8])
# print(l2[:])
# print(l2[::])
print(l2[::2]) #o/p--> all the even elements
print(l2[1::2]) #o/p all the odd elements

['apple', 'pineapple', 'orange', 'banana']
['banana', 'kiwi', 'apple', 'apple']

In [ ]:
#reverse the above list l2
print(l2[::-1])

['apple', 'banana', 'apple', 'orange', 'kiwi', 'pineapple', 'banana', 'apple']

**list mutable**

when we suppose to say a collection is mutable?

--> if the collection is following 3 properties  then it is mutable
1. replace or swap the items
2. add the new item to existing list
3. remove the items from existing list

**replace or swap the items from list**

In [ ]:
#How can we replace the items from list?
#By using the index position numbers
l3 = ['java','JS','R','Python','c','c++']
#replace the js with java script
l3[1]='javascript'
print(l3)

['java', 'javascript', 'R', 'Python', 'c', 'c++']

In [ ]:
l3[1:3] = '.net','seasharp','nodejs'
print(l3)

['java', '.net', 'seasharp', 'nodejs', 'Python', 'c', 'c++']

**Add the new items to the list**

In [ ]:
l4 = ['java', '.net', 'seasharp', 'nodejs', 'Python', 'c', 'c++']
#we are some methods to add items to the list
print(dir(l4))
"""'append', 'clear', 'copy', 'count', 'extend',
'index', 'insert', 'pop', 'remove', 'reverse', 'sort' """

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
#1.append():- by default it add the single element at the end of the list
#q)what is default index position when we use append()?
#end of the list
#add 'mongo DB' in to above list.
l4.append('Mongo DB')
print(l4)

['java', '.net', 'seasharp', 'nodejs', 'Python', 'c', 'c++', 'Mongo DB']

In [ ]:
#2.insert(index,item):- is used add the item at specific index position
l4.insert(3,'SQL')
print(l4)
#can i add multiple items by using insert method---> no

['java', '.net', 'seasharp', 'SQL', 'nodejs', 'Python', 'c', 'c++', 'Mongo DB']

In [ ]:
#3.extend(collection_name):- adds the multiple items in to list
l5 = [1,2,3,4,5]
#add the l5 into l4
l4.extend(l5)
print(l4)

['java', '.net', 'seasharp', 'SQL', 'nodejs', 'Python', 'c', 'c++', 'Mongo DB', 1, 2, 3, 4, 5]

**remove the items from list**

In [ ]:
l6 = ['java', '.net', 'seasharp', 'SQL', 'nodejs', 'Python', 'c', 'c++', 'Mongo DB', 1, 2, 3, 4, 5]
#1.pop(index):by default it remove last element
print(l6.pop())

5

In [ ]:
print(l6)

['java', '.net', 'seasharp', 'SQL', 'nodejs', 'Python', 'c', 'c++', 'Mongo DB', 1, 2, 3, 4]

In [ ]:
print(l6.pop(-1))

4

In [ ]:
#remove(item_name):- by using name or identity of element it removes the item from list
l6.remove('Mongo DB')
print(l6)
#can i remove the multiple items by usimg the remove()----> No

['java', '.net', 'seasharp', 'SQL', 'nodejs', 'Python', 'c', 'c++', 1, 2, 3]

In [ ]:
#How can i remove the multiple items from list l6--> 'c', 'c++', 1, 2, 3
del l6[6:]
print(l6)

['java', '.net', 'seasharp', 'SQL', 'nodejs', 'Python']

In [ ]:
l6.index('seasharp')

2

In [ ]:
#remove all the items from the list and return empty list
l6.clear()
print(l6)

[]

In [ ]:
#delete the list
del l6
print(l6)

**sorting of list**

In [ ]:
l = ['apple','banana','Apple','Ornage','kiwi','mango','pineapple','Watermelon']
#sort the above list in ascending orderd
l.sort()
print(l)
#How this sorting can be done?
#sorting can be done based ASCII

['Apple', 'Ornage', 'Watermelon', 'apple', 'banana', 'kiwi', 'mango', 'pineapple']

In [ ]:
#PRINT IN descending order?
l.sort(reverse=True)
print(l)

['pineapple', 'mango', 'kiwi', 'banana', 'apple', 'Watermelon', 'Ornage', 'Apple']

In [ ]:
l = [746,3635,36,282,363,254,978,3532,656,432]
l.sort(reverse = True)
print(l)

[3635, 3532, 978, 746, 656, 432, 363, 282, 254, 36]

#15-05-2025

**Tuple**

In [ ]:
#what is tuple? define tuple or how can you declare a tuple
#tuple is declared in ()
#Tuple is defined as ordered, immutuablb and it allows duplicate data

**Tuple allows duplicate data**

In [ ]:
t1 = (1,2,3,4,5,6,7,8,1,2,3,4,5,6,7)
print(len(t1))
print(type(t1))
print(t1)

15
<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7)

**tuple is ordered**

In [ ]:
t2 = ('apple','banana','mango','pineapple','kiwi','orange','apple')
print(t2[3])

pineapple

In [ ]:
#access a range of fruits from 'banana','mango','pineapple','kiwi'
print(t2[1:5])

('banana', 'mango', 'pineapple', 'kiwi')

In [ ]:
print(t2[::-1])

('apple', 'orange', 'kiwi', 'pineapple', 'mango', 'banana', 'apple')

**Tuple is immutable**

In [ ]:
#in tuples we cannot replace, add and remove the items
print(dir(t2))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
#Tuples are faster then the list?--> bcz tuple is immutable

In [ ]:
#How can we add the items or replace the items in tuple?
#convert tuple into list
t3 = ('apple', 'orange', 'kiwi', 'pineapple', 'mango', 'banana', 'apple')
t_l = list(t3)
print(t_l)

['apple', 'orange', 'kiwi', 'pineapple', 'mango', 'banana', 'apple']

In [ ]:
t_l.append('watermelon')
print(t_l)

['apple', 'orange', 'kiwi', 'pineapple', 'mango', 'banana', 'apple', 'watermelon']

In [ ]:
t_l.insert(4,'grapes')
print(t_l)

['apple', 'orange', 'kiwi', 'pineapple', 'grapes', 'mango', 'banana', 'apple', 'watermelon']

In [ ]:
l_t = tuple(t_l)
print(l_t)

('apple', 'orange', 'kiwi', 'pineapple', 'grapes', 'mango', 'banana', 'apple', 'watermelon')

In [ ]:
#when we need to use the tuple and list?
#tuple is used to store valueble data where we are not making any changes in future
#ex:- aadhar, pan, password,...etc
#where we make changes in data in future we use list--> address,phone number

**SET**

In [ ]:
#what is set? or define Set or ? How can we declare a set?
#set is --> {}
#set is defined as unordered, immutuable, and won't allow the duplicate data

**set won't allow the duplicate data**

In [ ]:
s1 = {'apple', 'orange', 'kiwi', 'pineapple', 'grapes', 'mango', 'banana', 'apple', 'watermelon'}
print(len(s1))
print(s1)
print(type(s1))

8
{'orange', 'watermelon', 'apple', 'banana', 'pineapple', 'mango', 'kiwi', 'grapes'}
<class 'set'>

In [ ]:
s2 = {1,2,3,4,5,6,1,2,3,4,5,6}
print(s2)

{1, 2, 3, 4, 5, 6}

**set is unordered**

In [ ]:
#element or items in the set doesn't have index position numbers
s3 = {'orange', 'watermelon', 'apple', 'banana', 'pineapple', 'mango', 'kiwi', 'grapes'}
print(s3[2])

**Set is immutable**

In [ ]:
#in sets we cannot replace or swap the datapoints but we can add and remove the items from the set
#why we cannot replace the items in set ?
#-->set is unordered

**adding methods in set**

In [ ]:
s4 = {'orange', 'watermelon', 'apple', 'banana', 'pineapple', 'mango', 'kiwi', 'grapes'}
#1.add():- is used to add element in set
s4.add(5.5)
print(s4)
#by using the add() can we add multiple items at a time--> No

{'orange', 'watermelon', 'apple', 'banana', 5.5, 'pineapple', 'mango', 'kiwi', 'grapes'}

In [ ]:
print(dir(s4))
"""'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection',
 'intersection_update', 'isdisjoint', 'issubset',
'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update',
'union', 'update' """

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [ ]:
#update():- is used add multiple items to the set  from other collections
l = [1,2,3,4,5,1,1,3,4,5]
#add the list of numbers in s4
s4.update(l)
print(s4)

{'orange', 1, 'watermelon', 2, 'apple', 'banana', 5.5, 3, 4, 'pineapple', 5, 'mango', 'kiwi', 'grapes'}

**remove the items from set**

In [ ]:
#pop():- is bad practice
s4.pop()
print(s4)

{1, 'watermelon', 2, 'apple', 'banana', 5.5, 3, 4, 'pineapple', 5, 'mango', 'kiwi', 'grapes'}

In [ ]:
#remove('name_ite')
s4.remove('watermelon')
print(s4)

{'orange', 'apple', 'banana', 5.5, 'pineapple', 'mango', 'kiwi', 'grapes'}

In [ ]:
s4.remove('watermelon')
print(s4)

In [ ]:
#discard('item_name):- similar to remove
s4.discard('mango')
print(s4)

{'orange', 'apple', 'banana', 5.5, 'pineapple', 'kiwi', 'grapes'}

In [ ]:
#what is the difference between remove and discard
s4.discard('watermelon')
print(s4)

{'orange', 'apple', 'banana', 5.5, 'pineapple', 'kiwi', 'grapes'}

In [ ]:
#remove() if the datapoint existit remove the data point else it rises and error
#discard() if the datapoint exist or not it wont rise an error

In [ ]:
s4.clear()
print(s4)

set()

In [ ]:
#set is faster then the list, tuple?--> becuse it is unordered and immutable

In [ ]:
seta = {'a','b','c','d'}
setb = {}
#union , intersection
print(seta.union(setb))

{'b', 'd', 'c', 'a'}

In [ ]:
#intersection()
print(seta.intersection(setb))

{'d'}

In [ ]:
print(seta.isdisjoint(setb))

True

In [ ]:
seta.isdisjoint()

**dictionary**

In [ ]:
#what is dict or define dict or how can we  declare dict?
#dict--> {key:value}
#how the data can be stored in the dictionary in key:value pair
#dictionary is defined unordered, mutable, and wont allow the duplicate data

**dictionary wont allow the duplicate data**

In [ ]:
d1 = {
    "name": "shahul",
    "gender":'Male',
    "Age":29,
    "education":"masters",
    "education":"B.tech"
}
print(len(d1))
print(d1)
print(type(d1))

4
{'name': 'shahul', 'gender': 'Male', 'Age': 29, 'education': 'B.tech'}
<class 'dict'>

**dictionary is unordered**

In [ ]:
#key:value pairs doesn't have index position numbers
#How can we access the data from the dictionary?
#using key names

In [ ]:
print(d1['name'])

shahul

In [ ]:
#print the multiple keys
print(d1['name'],d1['Age'],d1['education'])

shahul 29 B.tech

**dictionary is mutable**

**Replace the values in dictionary**

In [ ]:
d1 = {
    "name": "shahul",
    "gender":'Male',
    "Age":29,
    "education":"B.tech"
}
d1['education'] = 'Masters in DS'
print(d1)

{'name': 'shahul', 'gender': 'Male', 'Age': 29, 'education': 'Masters in DS'}

**add the items in the dictionary**

In [ ]:
d1['fruits'] = ['apple','banana','mango','kiwi']
print(d1)

{'name': 'shahul', 'gender': 'Male', 'Age': 29, 'education': 'Masters in DS', 'fruits': ['apple', 'banana', 'mango', 'kiwi']}

In [ ]:
#print the "mango" from above dictionary
print(d1['fruits'][2])

mango